EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_SUPABASE_PRODUCT_MASTER_TABLE=product_masters
EXPO_PUBLIC_SUPABASE_ICON_BUCKET=icons
EXPO_PUBLIC_PURCHASE_LINK_SEARCH_FUNCTION_URL=
EXPO_PUBLIC_SUPABASE_HOUSEHOLD_SNAPSHOTS_TABLE=household_snapshots
EXPO_PUBLIC_SUPABASE_HOUSEHOLDS_TABLE=households
EXPO_PUBLIC_SUPABASE_HOUSEHOLD_CATS_TABLE=household_cats
EXPO_PUBLIC_SUPABASE_HOUSEHOLD_INVENTORY_ITEMS_TABLE=household_inventory_items
EXPO_PUBLIC_SUPABASE_HOUSEHOLD_PURCHASE_HISTORY_TABLE=household_purchase_history
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
